      <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
    <div class="container">
        <h1 class="display-3">Come out and Play !</h1>
        <h2>Rejoignez des événements et créez les vôtres.</h2>

        <p><a class="btn btn-primary btn-lg" href="#" role="button">Créer un événement &raquo;</a></p>

    </div>
    </div>

    <div class="container">
            <h2><% if @events.size >0%>
            <%="Le site propose #{@events.size} event(s): "%>
        <%else%>
            <%="Il n'y a vraiment rien à faire en ce moment, tu devrais méditer sur le sens de ta vie en attendant qu'on te propose quelque-chose, tu peux aussi aller sur Thinkerview te cultiver un peu, feignasse !"%>
        <%end%></h2>

    <% @events.all.each do |event| %>
        <div class="row">
          <div class="col-md-12">
            <h2><%=event.title%></h2>
            <p><%=event.description%></p>
            <p><a class="btn btn-secondary" <%= link_to "Voir", event_path(event.id)%></a></p>
          </div>
        </div>
    <%end%>
        
